@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.otf');
	src: local('Bebas Neue'), local('Bebas'), url('../fonts/BebasNeue.otf') format('opentype');
}

/* edit these to match your style */

.highlight-active{
  color: #B59653;
  /*color: #F2BF24;*/
}

.highlight-inactive{
  color:#aaa;
}

body{
 font-family: 'BebasNeue', Arial, sans-serif;
}

.todoName{
	font-size: 35px;
}


/* here be dragons */


.red{
  color:#F00;
}

.todos{
  margin: 30px;
}

.todo-filter {
	margin-bottom: 25px;
}

.todo-filter>li>a{
	padding: 8px 12px;
	font-size: 12px;
}

.todoTip {
  margin: 20px;
	width: 75%;
  color:#fff;
}

#todoAdd {
	margin-left: 40px;
}

.todoField{
	padding-left: 5px;
	font-size: 20px;
}

#newTodoField{
	margin: 20px;
	width: 75%;
}

#todoSubmit{
	margin-top: -5px;
}

.todoTask{
	margin-bottom: 10px;
  width: 45%;
  margin-right:5%;
  float:left;
  line-height:1;
}

.todoName{
	padding-bottom:5px;
}

.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}