<!doctype html>
<html lang="en" ng-app="todo">
<head>
	<title>AFG-Cast Topic List</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/common.css">

	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery-ui.min.js"></script>
	<script src="js/libs/jquery.ui.touch-punch.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/angular.min.js"></script>
	<script src="js/libs/angular-local-storage.min.js"></script>
	<script src="js/libs/sortable.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives/angular.editInPlace.js"></script>
	<script src="js/directives/angular.ngEnter.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="TodoCtrl" ng-init="init()" ng-keyup="toggleUi($event)">
	<div class="container" ng-controller="TodoCtrl" id="playground">
		<div class="row">
				<div class="row" id="todoAdd" ng-show="editable">
					<div class="form-group">
            <p class="todoTip">Use F8 to toggle edit elements visibility</p>
						<input class="todoField" id="newTodoField" type="text" ng-model="newTodo" placeholder="Add New Topic" ng-enter>
						<button id="todoSubmit" class="btn btn-default" ng-click="addTodo()">Add</button>
					</div>
				</div>
				<div class="row">
					<ul class="list-unstyled todos" ui-sortable="todoSortable" ng-model="model">
						<li class="todoTask" ng-repeat="todo in model ">
							<edit-in-place value="todo"></edit-in-place>
							<button type="button" class="red close pull-right" aria-hidden="true" ng-click="deleteTodo(todo)" ng-show="editable">&times;</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
    
	</div>

</body>
</html>